body {
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
}

a {
  text-decoration: none;
}

a, .email {
  color: #5faea9;
}

h1, h2, .copyright {
  color: #9ebe8f;
}

h3, h4 {
  color: #9bbdaa;
}

img {
  display: inline-block;
  width: 100%;
}

.social a:hover {
  background-color: #b2d3cf;
}

.top a:hover {
  background-color: #b2d3cf;
  border-color: #b2d3cf;
  color: #fff;
  padding: .3em;
}

nav a:hover {
  background-color: #b2d3cf;
  border-color: #b2d3cf;
  color: #fff;
  padding: .3em;
}

.logo {
  width: 10em;
}

.circle {
  width: 6em;
}

.icon {
  width: 2.8em;
}

.banner-img {
  background-image: url("../images/banner.jpg");
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
}

.feature-img {
  width: 100%;
}

.about {
  background-color: lightgrey;
  border: 5px solid #fff;
}

.diamond {
  position: relative;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.hidden {
  display: none;
}

li {
  display: block;
}

@media only screen and (min-width: 35em) {

  body {
    margin-right: 3.5em;
    margin-left: 3.5em;
  }

  nav li {
    display: inline-block;
  }

  nav {
    text-align: center;
  }

  .logo {
    width: 20em;
  }
}

@media only screen and (min-width: 60em) {

  body {
    margin-right: 3.5em;
    margin-left: 3.5em;
  }

  nav li {
    display: inline-block;
  }

  nav {
    text-align: right;
  }

  .logo {
    width: 25em;
  }
}
