body {
	margin-right: 3.5em;
	margin-left: 3.5em;
}

a {
	text-decoration: none;
	font-family: 'Open Sans Condensed', sans-serif;
}

h3 {
	font-family: 'Open Sans Condensed', sans-serif;
}

.logo, .socialmedia {
	width: 3em;
}

.logo2 {
	width: 20em;
}

.banner {
	display: inline-block;
	width: 100%;
}

nav li {
	display: block;
}

@media only screen and (min-width: 35em) {

nav li {
	display: inline-block;
}

nav {
	text-align: center;
}
}

@media only screen and (min-width: 60em) {

nav li {
	display: inline-block;
}

nav {
	text-align: right;
}
}


