body {
	margin: 0;
	font-family: 'Open Sans Condensed', sans-serif;
}

a {
	text-decoration: none;
}

.logo {
	width: 15em;
}

.circle {
	width: 6em;
}

.icon {
	width: 3em;
}

img {
	display: inline-block;
	width: 100%;
}

.banner-img {
	background-image: url("../images/banner.jpg");
	min-height: 500px;
	background-repeat: no-repeat;
	background-position: center center;
}

.feature-img {
	width: 100%;
}

.about {
	background-color: lightgrey;
	border: 5px solid #fff;
}

li {
	display: block;
}

@media only screen and (min-width: 35em) {

body {
	margin-right: 3.5em;
	margin-left: 3.5em;
}

nav li {
	display: inline-block;
}

nav {
	text-align: center;
}

.logo {
	width: 20em;
}
}

@media only screen and (min-width: 60em) {

	body {
	margin-right: 3.5em;
	margin-left: 3.5em;
}

nav li {
	display: inline-block;
}

nav {
	text-align: right;
}

.logo {
	width: 25em;
}
}


