<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}} | Art and Design Portfolio</title>
  <meta property="og:type" content="article">
  <meta property="og:title" content="Kayla Bowmaster, Art and Design Portfolio">
  <meta property="og:url" content="http://kaybow.design">
  <!-- Image dimensions: minimum 200x200; recommended 1500x1500 -->
  <meta property="og:image" content="http://fullurl.com/to-this/image.jpg">
  <!-- `og:site_name` is optional but highly recommended -->
  <meta property="og:site_name" content="Kayla, Graphic and UX/UI Designer">
  <!-- `og:description` is also optional, but could easily be filled with the meta description -->
  <meta property="og:description" content="Kayla Bowmaster's art and design portfolio">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Kayla Bowmaster, Art and Design Portfolio">
  <meta name="twitter:url" content="http://kaybow.design">
  <meta name="twitter:description" content="Kayla Bowmaster's art and design portfolio">
  <!-- The image should be 120x120 pixels in dimension -->
  <meta name="twitter:image" content="http://kaybow.design/to-this/image.jpg">
  <meta name="description" content="A graphic design portolfio by Kayla Bowmaster showing UX/UI, illustration, and branding.">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grids.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
</head>

<body>

  <div class="grid">
    <div class="unit xs-1 s-1 m-1 l-1 pad-t gutter-1-2">
      <nav id="top">
        <ol class="list-group giga">
          <li class="pad-bottom-half gutter"><a itemprop="url" href="#about"{{site.baseurl}}/><b>ABOUT</b></a></li>
          <li class="pad-bottom-half gutter"><a itemprop="url" href="#portfolio"{{site.baseurl}}/><b>PORTFOLIO</b></a></li>
          <li class="pad-bottom-half gutter"><a itemprop="url" href="#contact"{{site.baseurl}}/><b>CONTACT</b></a></li>
        </ol>
      </nav>
    </div>
  </div>

<main>
  {{content}}
</main>

  <footer id="data-author" itemprop="author" itemscope itemtype="http://www.kaybow.design" class="pad-t">

    <div class="pad-t">
      <div class="text-center">
        <h2 id="contact">CONTACT</h2>
      </div>
    </div>

    <div class="grid">
      <div class="unit xs-1 s-1 m-1 l-1 gutter">
        <h4>Let's get together.</h4>
        <p itemprop="email" href="mailto:kay.bowmaster@gmail.com" class="email text-left">Email: kay.bowmaster@gmail.com</p>
      </div>
    </div>

    <div class="pad-b gutter-1-2 social">
      <a itemprop="url" href="https://www.instagram.com/?hl=en">
        <img itemprop="image" class="icon" src="{{site.baseurl}}/images/linkedin.png" alt="linkedin">
      </a>
      <a itemprop="url" href="https://twitter.com/?lang=en">
        <img itemprop="image" class="icon" src="{{site.baseurl}}/images/twitter.png" alt="twitter">
      </a>
      <a itemprop="url" href="https://www.instagram.com/?hl=enkaybow">
        <img itemprop="image" class="icon" src="{{site.baseurl}}/images/instagram.png" alt="instagram">
      </a>
      <a itemprop="url" href="https://www.behance.net/kaybow">
        <img itemprop="image" class="icon" src="{{site.baseurl}}/images/behance.png" alt="behance">
      </a>
    </div>

    <div class="grid">
      <div class="unit xs-2-3 s-2-3 m-2-3 l-1-2 milli gutter">
        <p class="copyright"><span itemprop="name">© 2016 Kayla Bowmaster</span></p>
      </div>

      <div class="unit xs-1-3 s-1-3 m-1-3 l-1-2 top">
        <div class="text-right gutter1-2 giga"><a itemprop="url" href="#top" class="top"><b>BACK TO TOP</b></a></div>
      </div>
    </div>

  </footer>

</body>
</html>
