<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Art and Design Portfolio</title>
  <meta name="description" content="A graphic design portolfio showing UX/UI, illustration, and branding."
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grids.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
</head>

<body>

  <div class="grid">
    <div class="unit xs-1 s-1 m-1 l-1 pad-t gutter-1-2">
      <nav id="top">
        <ol class="list-group">
          <li class="pad-bottom-half gutter"><a itemprop="url" href="#about"{{site.baseurl}}/>ABOUT</a></li>
          <li class="pad-bottom-half gutter"><a itemprop="url" href="#portfolio"{{site.baseurl}}/>PORTFOLIO</a></li>
          <li class="pad-bottom-half gutter"><a itemprop="url" href="#contact"{{site.baseurl}}/>CONTACT</a></li>
        </ol>
      </nav>
    </div>
  </div>

<main>
  {{content}}
</main>

  <footer id="data-author" itemprop="author" itemscope itemtype="" class="pad-t">

    <div class="pad-t">
      <div class="text-center">
        <h3 id="contact">CONTACT</h3>
      </div>
    </div>

    <div class="grid">
      <div class="unit xs-1 s-1 m-1 l-1 gutter">
        <h4>Let's get together.</h4>
        <p itemprop="email" href="mailto:kay.bowmaster@gmail.com" class="text-left">Email: kay.bowmaster@gmail.com</p>
      </div>
    </div>

    <div class="pad-b gutter-1-2 social">
      <a itemprop="url" href="https://www.instagram.com/?hl=en"><img itemprop="image" class="icon" src="images/linkedin.png" alt="linkedin"></a>
      <a itemprop="url" href="https://twitter.com/?lang=en"><img itemprop="image" class="icon" src="images/twitter.png" alt="twitter"></a>
      <a itemprop="url" href="https://www.instagram.com/?hl=enkaybow"><img itemprop="image" class="icon" src="images/instagram.png" alt="instagram"></a>
      <a itemprop="url" href="https://www.behance.net/kaybow"><img itemprop="image" class="icon" src="images/behance.png" alt="behance"></a>
    </div>

    <div class="grid">
      <div class="unit xs-2-3 s-2-3 m-2-3 l-1-2 micro gutter">
        <p><span itemprop="name">© 2016 Kayla Bowmaster</span></p>
      </div>

      <div class="unit xs-1-3 s-1-3 m-1-3 l-1-2 top">
        <div class="text-right gutter1-2"><a itemprop="url" href="#top">BACK TO TOP</a></div>
      </div>
    </div>

  </footer>

</body>
</html>
